{% extends "layout.html" %}

{% block title %}
	History: {{ symbol }}
{% endblock %}

{% block main %}

<div class = "row">
	<div class= "col-md-12 history-box">
		<div class="stock-info">
			<h2>{{ symbol }}</h2>
			<h3>"{{ name }}"</h3>
		</div>
		<div class="stock-graph">
			
		</div>
		<table id="daily">
			<tr><th>Daily - Prices and Volumes</th></tr>
			<tr>
				<th> Date </th>
				<th> Open </th>
				<th> High </th>
				<th> Low </th>
				<th> Close </th>
				<th> Volume </th>
			</tr>

		</table>
	</div>

</div>

{% endblock %}
