{% extends "layout.html" %}

{% block title %}
	Search: {{ q }}
{% endblock %}

{% block main %}
<div class = "row">
	{% for stock in results %}
		<div class= "col-md-12 stock-box">
			<div class="col-md-4 stock-info">
				<a href='/history?symbol={{ stock["Symbol"] }}' + class="blocklink">
					<h2 id="symbol{{ loop.index }}">{{ stock["Symbol"] }}</h2>
					<h3 id="name{{ loop.index }}">{{ stock["Name"] }}</h3>
				</a>
				<div class="comp-box">
					<div>
						<h4>IPO Year:</h4>
						<p id="ipoyear{{ loop.index }}" class="comp-info">{{ stock["IPOYear"] }}</p>
					</div>
					<div>
						<h4>Market Cap:</h4>
							<p id="markcap{{ loop.index }}" class="comp-info">{{ stock["MarketCap"] }}</p>
					</div>
					<div>
						<h4>Sector:</h4>
							<p id="sector{{ loop.index }}" class="comp-info">{{ stock["Sector"] | safe }}</p>
					</div>
					<div>
						<h4>Industry:</h4>
							<p id="industry{{ loop.index }}" class="comp-info">{{ stock["Industry"] | safe }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="search-box">
					<div class="graph-box">
						<div id="stock-graph{{ loop.index }}">
							<img alt="Loading" src="/static/loading.gif"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 button-box">
				<div id="histButton{{loop.index}}" class="button">
					<a href='/history?symbol={{ stock["Symbol"] }}' + class="blocklink">HISTORIC STATISTICS</a>
				</div>
				<div id="techButton{{loop.index}}" class="button">
					<a href='/technical?symbol={{ stock["Symbol"] }}' + class="blocklink">TECHNICAL STATISTICS</a>
				</div>
			</div>
		</div>

	{% endfor %}
	<div class="apology">
		<span>{{ apology }}</span>
	</div>
</div>

{% endblock %}
