{% extends "layout.html" %}

{% block title %}
	History: {{ symbol }}
{% endblock %}

{% block main %}

<div class = "row">
	<div class= "col-md-8 history-box">
		<div class="stock-info">
			<h2 id="symbol">A</h2>
			<h3 id="name"></h3>
			<div class="comp-box">
				<div>
					<h4>IPO Year:</h4>
					<p id="ipoyear" class="comp-info">...</p>	
				</div>
				<div>
					<h4>Market Cap:</h4>
						<p id="markcap" class="comp-info">...</p>
				</div>
				<div>
					<h4>Sector:</h4>
						<p id="sector" class="comp-info">...</p>
				</div>
				<div>
					<h4>Industry:</h4>
						<p id="industry" class="comp-info">...</p>
				</div>
			</div>
		</div>
		<div class="stock-graph">
			
		</div>
		<table id="daily">
			<tr><th>A - Prices and Volumes</th></tr>
			<tr>
				<th> Date / Time</th>
				<th> Close </th>
			</tr>
			{% for i in dates %}
				<tr>
					<td> {{ dates[i] }}</td>
					<td> {{ closing[i] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-4 article-box">
		<ul id="article-list">
			
		</ul>
	</div>
	
</div>

{% endblock %}